modules = ["php-8.2", "web", "vue-node-20"]
run = "npm run dev"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[workflows]
runButton = "Laravel Dev Server"

[[workflows.workflow]]
name = "Laravel Dev Server"
author = 46627492
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php artisan serve --host=0.0.0.0 --port=5000"

[[workflows.workflow]]
name = "Build Assets"
author = 46627492
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
